/**
 * _branding$color--scss
 * Encapsulates branding elements (fonts, colors) based on Urban guidelines$color--
 *
 * Reference: http://urbaninstitute$color--github$color--io/graphics-styleguide/
 **/

$color--blue: #1696d2;
$color--yellow: #FDBF11;
$color--gray: #D2D2D2;
$color--magenta: #EC008B;
$color--green: #55B748;
$color--space-gray: #332D2F;
$color--red: #DB2B27;
$color--orange: #e66600;
$color--black: #000000;


$color--blue-9: #000000;
$color--blue-8: #062635;
$color--blue-7: #0A4C6A;
$color--blue-6: #12719E;
$color--blue-5: #1696d2;
$color--blue-4: #46ABDB;
$color--blue-3: #73BFE2;
$color--blue-2: #A2D4EC;
$color--blue-1: #CFE8F3;
$color--yellow-9: #000000;
$color--yellow-8: #843215;
$color--yellow-7: #ca5800;
$color--yellow-6: #e88e2d;
$color--yellow-5: #FDBF11;
$color--yellow-4: #FCCB41;
$color--yellow-3: #FDD870;
$color--yellow-2: #FCE39E;
$color--yellow-1: #FFF2CF;
$color--gray-9: #000000;
$color--gray-8: #353535;
$color--gray-7: #696969;
$color--gray-6: #9D9D9D;
$color--gray-5: #D2D2D2;
$color--gray-4: #DCDBDB;
$color--gray-3: #E3E3E3;
$color--gray-2: #ECECEC;
$color--gray-1: #F5F5F5;
$color--magenta-9: #000000;
$color--magenta-8: #351123;
$color--magenta-7: #761548;
$color--magenta-6: #AF1F6B;
$color--magenta-5: #EC008B;
$color--magenta-4: #E54096;
$color--magenta-3: #E46AA7;
$color--magenta-2: #EB99C2;
$color--magenta-1: #F5CBDF;
$color--green-9: #000000;
$color--green-8: #1A2E19;
$color--green-7: #2C5C2D;
$color--green-6: #408941;
$color--green-5: #55B748;
$color--green-4: #78C26D;
$color--green-3: #98CF90;
$color--green-2: #BCDEB4;
$color--green-1: #DCEDD9;
$color--space-gray-9: #000000;
$color--space-gray-8: #0E0C0D;
$color--space-gray-7: #1A1717;
$color--space-gray-6: #262223;
$color--space-gray-5: #332D2F;
$color--space-gray-4: #5C5859;
$color--space-gray-3: #848081;
$color--space-gray-2: #ADABAC;
$color--space-gray-1: #D5D5D4;
$color--red-9: #000000;
$color--red-8: #370B0A;
$color--red-7: #6E1614;
$color--red-6: #A4201D;
$color--red-5: #DB2B27;
$color--red-4: #E25552;
$color--red-3: #E9807D;
$color--red-2: #F1AAA9;
$color--red-1: #F8D5D4;
