/**
 * _mixins.scss
 * SASS Mixins for inclusion into main stylesheet.
 */

@mixin visuallyhidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin visuallyhidden-undo() {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  border: auto;
  overflow: visible;
  clip: none;
}

@mixin clearfix() {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@mixin inner-fullwidth() {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  z-index: 1;
}
