@import '_global.scss';

.c-text__caption {
  font-size: 14px;
  overflow: hidden;
}

.c-text__caption--top {
  margin-bottom: $space-single;
  line-height: 1.2;
  color: black;
}

.c-text__caption--bottom {
  margin-top: 0.15rem;
  margin-bottom: $space-single;

  border-bottom: 1px solid $color--gray-4;
}

.c-text__viz-notes {
  font-size: 12px;
  color: black;
  line-height: 1.2;
  background: url('./img/urban-line.svg') no-repeat bottom right;
  padding-bottom: 1rem;

  @include breakpoint($bp--large) {
    padding-bottom: .5rem;
    padding-right: 100px;
  }

  div p {
    display: inline;
    margin-bottom: 0.1rem;
  }
}

.c-graph {
  .c-graph__container {
    height: 320px;
  }

  &__options {
    a {
      padding: 5px;
      text-decoration: none;
      cursor: hand;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 1.2;
  }
}

.c-bar {
  margin-bottom: $space-half;
}

.c-bar__line {
  font-size: 10px;
  background-color: $color--blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.c3-axis-y {
  .tick {
    font-size: 12px;

    line {
      stroke: transparent;
    }
  }

  path.domain {
    stroke: transparent;
  }
}

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 0;
}

.c3-grid line {
  stroke: $color--gray-3;
}

.c3-axis-y-label {
  transform: rotate(0deg);
}

.c3-legend-item-tile {
}

.c-graph__legend {
  transform: translate(0, 15px);
}

.c3-axis-x {
  .domain {
    stroke: $color--gray-3;
    transform: translate(0, -2px);
  }
  .tick line {
    transform: translate(0, -2px);
  }
}

.c3 line {
  stroke: $color--gray-3;
}

.c-graph__y-label {
  margin-bottom: -14px;
  font-size: 12px;
  color: black;
  padding-left: 1px;
  font-style: italic;
}
