@import '_global.scss';

.c-graph {
  .c-graph__container svg {
    font-family: $font-lato;
  }
}

.c-text__caption {
  font-size: 14px;
  overflow: hidden;
}

.c-text__caption--top {
  margin-bottom: $space-single;
  line-height: 1.2;
  color: black;
}

.c-text__caption--bottom {
  margin-top: 0.15rem;
  margin-bottom: $space-single;

  border-bottom: 1px solid $color--gray-4;
}

.c-text__viz-notes {
  font-size: 12px;
  color: black;
  line-height: 1.3;
  background: url('./img/urban-line.svg') no-repeat bottom right;
  padding-bottom: 1.5rem;

  @include breakpoint($bp--large) {
    padding-bottom: .5rem;
    padding-right: 100px;
  }

  div p {
    display: inline;
    margin-bottom: 0.1rem;
  }
}

.c-graph {
  .c-graph__wrapper {
    height: 387px;
    @include breakpoint($bp--mid) {
      height: 427px;
    }
    @include breakpoint($bp--large) {
      height: 347px;
    }
  }

  .c-graph__container {
    height: 360px;
    @include breakpoint($bp--mid) {
      height: 400px;
    }
    @include breakpoint($bp--large) {
      height: 320px;
    }
  }

  &__options {
    a {
      padding: 5px;
      text-decoration: none;
      cursor: hand;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 1.2;
  }
}

.c-bar {
  margin-bottom: $space-half;
}

.c-bar__line {
  font-size: 10px;
  background-color: $color--blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.c3-axis-y {
  .tick {
    font-size: 12px;

    line {
      stroke: transparent;
    }
  }

  path.domain {
    stroke: transparent;
  }
}

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 0;
}

.c3-grid line {
  stroke: $color--gray-3;
}

.c3-axis-y-label {
  transform: rotate(0deg);
}

.c3-legend-item-tile {
}

.c-graph__legend {
  transform: translate(0, 18px);
}

.c3-axis-x {
  .domain {
    stroke: black;
  }
  .tick {
    font-size: 11px;
  }
  .tick line {
    color: black;
  }
}

.c3-ygrids line {
  stroke: #DEDEDE;
}

.c-graph__y-label {
  margin-bottom: -14px;
  font-size: 12px;
  color: black;
  padding-left: 1px;
  font-style: italic;
}

.c3-axis-x-label {
  font-style: italic;
  font-size: 12px;
}

.c3-bar._expanded_ {
  fill-opacity: 100;
}

.c3-axis-y-label {
  font-size: 12px;
  font-style: italic;
}

.c3-line {
  stroke-width: 2px;
}

.c3-circle {
  fill: white !important;
  opacity: 1;
  stroke-width: 2px;

  &._expanded_ {
    stroke-width: 2px;
  }
}

/* Overrides C3's transparent areas.  Must be filled. */
.c3-area {
  opacity: 1;
}

/* Move label in stacked area chart under bar, change colors */
.c-bar.c-bar-vertical.c-bar-grouped {
  .c3-text {
    transform: translate(0, 15px);
  }

  .c-graph__legend {
    > svg {
      height: 40px !important;
      @include breakpoint($bp--small) {
        height: auto;
      }
    }
  }
}
.c-bar.c-bar-horizontal.c-bar-grouped {
  .c3-text {
    transform: translate(-10px, 0);
    text-anchor: end;
  }
}

/* Ensure all data label colors are black */
.c-bar {
  .c3-text {
    fill: #000 !important;
  }
}

.c-graph_dropdown {
  select {
    margin-bottom: 10px;
    font-family: $font-lato;
    background: url(img/urban-select-2x.png) no-repeat right $color--space-gray-1;
    background-size: contain;
    padding: 0.6rem;
    padding-right: 100px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    appearance: none;
    outline-width: 0;
  }
}
