@import '_global.scss';

.c-text {
  margin-bottom: $space-double;
}

.c-text__caption {
  font-size: 14px;
  overflow: hidden;
}

.c-text__caption--top {
  margin-bottom: $space-single;
}

.c-text__caption--bottom {
  margin-top: $space-single;
  margin-bottom: $space-single;

  border-bottom: 1px solid $color--gray-4;
}

.c-text__emphasis {
  border-top: 1px solid $color--gray-4;
  border-bottom: 1px solid $color--gray-4;
  font: italic 400 14px/20px Georgia,serif;
  padding: 2rem 0 2rem 0;
  margin: 2rem 0;
}

.c-text__viz-notes {
  display: table;

  div {
    margin-bottom: .5rem;
  }

  @include breakpoint($bp--large) {
    float: left;
    width: 60%;
    border-right: 1px solid $color--gray-4;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint($bp--xlarge) {
    width: 70%;
  }
}

.c-text__viz-notes__title {
  display: table-cell;
  width: 65px;
}

.c-text__viz-notes__description {
  display: table-cell;
}

.c-text__viz-actions {
  margin-top: 1rem;

  @include breakpoint($bp--large) {
    margin-top: 0;
    float: left;
    padding-left: 1rem;
    width: 40%;
  }
  @include breakpoint($bp--xlarge) {
    width: 30%;
  }

  .btn {
    width: auto;
    margin-right: 1rem;

    @include breakpoint($bp--large) {
      width: 100%;
      margin-right: 0;
    }
  }
}

.faq {
  background-color: $color--gray-1;
  padding: .5rem 3rem 1.5rem;
  margin: 2rem 0;
}
