@import '_global.scss';

.c-text {
  margin-bottom: $space-double;
}

.c-text__caption {
  font-size: 14px;
  overflow: hidden;
  line-height: 1.2;
  color: black;
}

.c-text__caption--top {
  margin-bottom: $space-single;
}

.c-text__caption--bottom {
  margin-top: $space-single;
  margin-bottom: $space-single;
  border-bottom: 1px solid $color--gray-4;
}

.c-text__emphasis {
  border-top: 1px solid $color--gray-4;
  border-bottom: 1px solid $color--gray-4;
  font: italic 400 14px/20px Georgia,serif;
  padding: 2rem 0 2rem 0;
  margin: 2rem 0;
}

.c-text__viz-notes {
  background: url('/img/urban-line.svg') no-repeat bottom right;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;

  @include breakpoint($bp--large) {
    padding-right: 160px;
    padding-bottom: 0;
  }

  p {
    margin-bottom: 0.25rem;
  }
}

.c-text__viz-actions {
  text-align: left;

  @include breakpoint($bp--large) {
    text-align: right;
  }
  .btn {
    margin-right: 1rem;

    @include breakpoint($bp--large) {
      margin-right: 0;
      margin-left: 1rem;
    }
  }
}

.c3 .c3-axis path, .c3 .c3-axis line {
  stroke: $color--gray-7;
}

.tick tspan {
  fill: $color--gray-7;
}


.c-text__faq {
  background-color: $color--gray-1;
  padding: 1rem 1rem 1.5rem;
  margin: 2rem 0;

  @include breakpoint($bp--large) {
    padding: .5rem 1rem 1.5rem;
  }
}

.c-text__featured {
  font-size: 16px;
  border: 1px solid $color--gray-4;
  font-family: georgia, serif;
  padding: 0 1rem .5rem;
  margin-top: 2rem;

  @include breakpoint($bp--large) {
    padding: 0 2rem .5rem;
  }
}
