@import '_global.scss';

footer {
  background: #000;
}

.footer-site__logo-wrapper {
  @include clearfix();

  @include breakpoint($bp--large) {
    max-width: 1050px;
    margin: 0 auto;
    padding: .5rem 1rem;
  }
}

.footer-site__logo-wrapper-inner {
  padding: .5rem 1rem;
  @include breakpoint($bp--large) {
    float: left;
    margin-left: 10px;
    padding: 0;
  }
}

.footer-site__logo {
  background: #000 url(./img/logo-mini.png) left center no-repeat;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 50px;
  line-height: 1.8;
  margin: 0;
  padding: 5px 0 0 70px;
  text-transform: uppercase;
  @include breakpoint($bp--mid) {
    font-size: 20px;
    line-height: 40px;
  }
  @include breakpoint($bp--large) {
    display: block;
    padding: 0;
    text-indent: -999px;
    width: 50px;
    &:after {
      content: '';
    }
  }
  &:after {
    content: 'Understanding College Affordability';
  }
}

.footer-site__nav-utility {
  line-height: 3;
  background: #fff;
  @include breakpoint($bp--large) {
    background: #000;
    float: left;
    margin-left: 50px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #f5f5f5;
    @include breakpoint($bp--large) {
      border-width: 0;
      display: inline-block;
    }
    list-style-type: none;
    margin: 0;
    padding: 0 1rem;
  }

  a {
    color: $color--gray-6;
    font-size: 13px;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    &:hover {
      color: $color--blue;
      text-decoration: none;
    }
    @include breakpoint($bp--mid) {
      font-size: 16px;
    }
    @include breakpoint($bp--large) {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
