@import '_global.scss';

footer {
}

.footer-site__content-wrapper {
  background: $color--gray-2;
  overflow: hidden;
  padding: 1rem 0;

  @include breakpoint($bp--large) {
    padding: 3rem 0;
  }
}

.footer-site__content,
.footer-site__logo-wrapper-inner {
  padding-left: 1rem;

  @include breakpoint($bp--mid) {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.footer-site__logo-wrapper {
  background: rgba(0,0,0,1);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 100%);
}

.footer-site__logo {
  display: inline-block;
  border: none;
  margin: 0;
  padding: .75rem 3rem .75rem 4.5rem;
  line-height: 1.2;
  background: #000 url(./img/logo-mini.png) left center no-repeat;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-transform: uppercase;

  @include breakpoint($bp--mid) {
    line-height: 75px;
    padding: 0 3rem 0 4.5rem;
  }

  &:hover {
    text-decoration: none;
    color: $color--yellow;
  }
}

.footer-site__nav-primary,
.footer-site__nav-utility {
  line-height: 2.8;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    list-style-type: none;
    padding: 0;
    color: black;
    text-transform: uppercase;
    font-weight: normal;

    &:hover {
      text-decoration: none;
      color: $color--blue;
    }
  }
}

.footer-site__nav-wrapper {
  @include breakpoint($bp--large) {
    width: 66.5%;
    float: left;
  }
}

.footer-site__nav-primary {
  @include breakpoint($bp--mid) {
    width: 50%;
    float: left;
    border-right: 1px solid $color--gray-5;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint($bp--large) {
    padding-left: 0;
    width: 40%;
  }
}

.footer-site__nav-utility {
  @include breakpoint($bp--mid) {
    width: 50%;
    float: left;
    padding-left: 3rem;
  }
  @include breakpoint($bp--large) {
    width: 60%;
  }
}

.footer-site__credits {
  font-size: 14px;
  border-top: 1px solid $color--gray-5;
  padding: 1rem 1rem 0 0;
  clear: both;

  @include breakpoint($bp--mid) {
    padding: 2rem 1rem;
  }
  @include breakpoint($bp--large) {
    padding: 1rem 0 0 0;
    border: none;
    clear: none;
    width: 33.3%;
    float: left;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;

    @include breakpoint($bp--mid) {
      font-size: 30px;
    }
  }

  .urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
    line-height: 1.5;
  }

  .job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
    line-height: 1;
  }

  a {
    font-weight: normal;
  }
}
