@import '_global.scss';

.header-site {
  background: #fff;
  //border-bottom: 1px solid $color--gray-4;
  width: 100%;
  border-top: 6px solid black;
  @include clearfix();

  @include breakpoint($bp--mid) {
    height: 110px;
  }
  @include breakpoint($bp--large) {
    height: 130px;
    background-color: $color--blue;
  }
}

.header-site__logo {
  background: url('./img/logo.svg') no-repeat center center;
  display: block;
  width: 110px;
  height: 77px;
  margin: 0 auto;

  @include breakpoint($bp--large) {
    width: 114px;
    height: 124px;
  }
  @include breakpoint($bp--xlarge) {
    width: 140px;
    height: 124px;
  }
}

.header-site__logo-wrapper {
  background: white;
  width: 120px;
  text-align: center;

  @include breakpoint($bp--large) {
    float: left;
    width: 128px;
    margin-right: 1rem;
  }
  @include breakpoint($bp--xlarge) {
    width: 200px;
    margin-right: 2rem;
  }
}

.header-site__right {
  @include breakpoint($bp--mid) {
  }
  @include breakpoint($bp--large) {
    margin-left: 0;
  }
}

.header-site__nav-primary-wrapper {
  display: none;
  background-color: $color--blue;

  @include breakpoint($bp--large) {
    display: block;
    border-top: none;
    height: auto;
    clear: none;
    background-color: transparent;
    padding: 0.15rem 0 0 2rem;
  }
}

.header-site__nav-utility-wrapper {
  display: none;

  @include breakpoint($bp--large) {
    display: block;
    position: absolute;
    top: 0;
    right: 1rem;
  }
  @include breakpoint($bp--xlarge) {
    right: 2rem;
  }
}

.header-site__title {
  background-color: $color--blue;
  padding: .2rem 0 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-family: Futura, Arial, sans-serif;

  @include breakpoint($bp--mid) {
    font-size: 19px;
    letter-spacing: 2px;
  }

  @include breakpoint($bp--large) {
    background: transparent;
    text-align: left;
    padding: 2.1rem 0 0 2rem;
    font-size: 24px;
  }

  @include breakpoint($bp--xlarge) {
    padding: 1.3rem 0 0 2rem;
  }
}

.header-site__nav-mobile {
  position: absolute;
  right: 13px;
  top: 27px;
  font-size: 20px;

  @include breakpoint($bp--large) {
    display: none;
  }

  span {
    margin-left: 6px;
  }
}

/** Mini header mode (after scrolling down...) **/
@keyframes header-mini {
  0% {}
  100% { height: 55px; border-top: 0; }
}
@keyframes header-hide {
  0% { font-size: inherit; }
  100% { font-size: 0; padding: 0; display: none; }
}
@keyframes header-logo-wrapper {
  0% {}
  100% { width: 70px; height: 55px;}
}
@keyframes header-logo {
  0% { }
  100% { width: 55px; height: 55px;}
}

.header-site.header-sticky {
  @include breakpoint($bp--large) {
    animation: header-mini $header-transition-duration ease;
    animation-fill-mode: forwards;

    .header-site__title {
      animation: header-hide $header-transition-duration ease;
      animation-fill-mode: forwards;
    }

    .header-site__logo-wrapper {
      @include breakpoint($bp--large) {
        animation: header-logo-wrapper $header-transition-duration ease;
        animation-fill-mode: forwards;
        .header-site__logo {
          animation: header-logo $header-transition-duration ease;
          animation-fill-mode: forwards;
          background: url('./img/logo-mini-dark.png') no-repeat 10%;
          background-size: 75%;
        }
      }
    }
  }
}
