@import '_global.scss';

.nav-primary {
  position: relative;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem 0 0;

    @include breakpoint($bp--mid) {
      margin: 0 0.85rem 0 0;
    }
    @include breakpoint($bp--large) {
      margin: 0 1.25rem 0 0;
    }
    @include breakpoint($bp--xlarge) {
      margin: 0 2rem 0 0;
    }

    ul {
      display: none;
      position: absolute;
    }

    &:hover {
      ul {
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-primary__first-level {
  & > li > a {
    display: inline-block;
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: lato, Arial, sans-serif;
    line-height: 26px;
    border-bottom: 6px solid transparent;

    @include breakpoint($bp--mid) {
      font-size: 14px;
      line-height: 30px;
    }

    @include breakpoint($bp--large) {
      line-height: 40px;
      font-size: 17px;
      padding-bottom: 2px;
    }
    @include breakpoint($bp--xlarge) {
      line-height: 52px;
      font-size: 19px;
    }
  }

  & > li.has-submenu:hover {
    @include breakpoint($bp--large) {
      height: 82px;
    }
    @include breakpoint($bp--xlarge) {
      height: 94px;
    }
  }

  & > li:hover > a {
    color: black;
    border-bottom: 6px solid black;
    text-decoration: none;
  }
}

ul.nav-primary__second-level {
  //background: $color--gray-2;
  //border-bottom: 1px solid $color--gray-4;
  line-height: 35px;
  //width: 100%;
  //margin-left: -22px;

  li {
    margin: 0;
  }

  a {
    padding: .5rem 1.5rem;
    font-size: 15px;
    font-weight: normal;
    color: $color--gray-8;

    &:hover {
      text-decoration: none;
      background-color: $color--gray-2;
    }
  }
}
