@import '_global.scss';

.c-hero {
  @include clearfix();
  @include inner-fullwidth();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem;
  @include breakpoint($bp--mid) {
    padding: 5rem 2rem;
  }
  @include breakpoint($bp--large) {
    min-height: 550px;
    padding-top: 14rem;
  }
  @include breakpoint($bp--xlarge) {
    padding: 14rem 8% 0;
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  h1,
  h2 {
    color: #fff;
    position: relative;
    z-index: 50;
    @include breakpoint($bp--mid) {
      margin-top: 0;
    }
    @include breakpoint($bp--large) {
      float: left;
      margin: 0;
    }
  }

  h1 {
    display: none;
    line-height: 1;
    font-family: $font-montserrat;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    @include breakpoint($bp--mid) {
      display: block;
      font-size: 50px;
    }
    @include breakpoint($bp--large) {
      border-right: 1px solid #fff;
      text-align: right;
      font-size: 60px;
      padding-right: 40px;
      width: 65%;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 1.5rem 0;
    text-align: center;
    @include breakpoint($bp--mid) {
      font-weight: 400;
      text-align: left;
    }
    @include breakpoint($bp--large) {
      margin-left: 40px;
      width: 30%;
    }
    @include breakpoint($bp--xlarge) {
      font-size: 36px;
      width: 31%;
    }
  }
}
