@import '_global.scss';


.c-graph-multiples {
  @include clearfix();

  .c-graph-multiple {
    width: 200px;
    float: left;

    h2 {
      font-size: 13px;
      margin-left: 20px;
      font-style: italic;
    }

    .c-text__caption--bottom {
      border: none;
    }
  }
}

