@import '_global.scss';


.c-graph-multiples {
  @include clearfix();

  h2 {
    font-size: 18px;
  }

  .c-text__caption {
    clear: both;
  }

  .c-graph {
    .c-graph__wrapper,
    .c-graph__container {
      height: 210px !important;
    }
  }

  .c-graph-multiple.children_2 {
    width: 345px;
  }
  .c-graph-multiple {
    width: 225px;
    float: left;

    h2 {
      font-size: 13px;
      margin-left: 20px;
      font-style: italic;
    }

    .c-text__caption {
      display: none;
    }

    .c-text__caption--bottom {
      border: none;
    }
  }
}

.small-multiple-legend-key{
    width: 10px;
    height: 10px;
    top: 1px;
    position: relative;
    display: inline-block;
    margin-right: 6px;
    margin-left: 12px;
}
.small-multiple-legend-text{
  font-size: 12px;
  color: black;
}
.small-multiple-legend-item{
  display: inline-block;
}
.small-multiple-legend{
  margin: 0 auto;
  width: 0px;
  display: inline;
}
.small-multiple-legend-container{
  margin-bottom: 20px;
}