body {
  transition: all 2.5s linear;
  background-color: #CCF;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

  #container {
    color: #333;
    display: block !important;
  }

  div {
    display: block;
  }
}
