@import '_global.scss';

.main {
  padding-bottom: 0;
  padding-top: 0;
}

.c-hero + .c-narrative {
  position: relative;
  @include breakpoint($bp--mid) {
    top: -3rem;
    z-index: 1;
  }
}

.c-narrative {
  background: #fff;
  font-size: 18px;
  line-height: 1.4;
  padding: 2rem 0 0;
  margin-bottom: 2rem;
  @include breakpoint($bp--mid) {
    font-size: 21px;
    margin-bottom: 0;
    padding: 1.5rem 1.5rem 0;
    text-align: center;
  }
  @include breakpoint($bp--large) {
    padding: 2rem 2.5rem 0;
  }
  p {
    padding: 0 1em;
    @include breakpoint($bp--mid) {
      padding: 0;
    }
    strong {
      color: #666;
    }
  }

  .c-home__button {
    border: 1px solid $color--blue;
    display: block;
    font-size: 18px;
    line-height: 1;
    margin-top: 2rem;
    padding: .5rem 1rem .75rem 1.5rem;
    text-align: center;
    @include breakpoint($bp--mid) {
      display: inline-block;
      font-size: 21px;
    }
  
    &:after {
      content: '>';
      display: inline-block;
      font-size: 26px;
      font-weight: 700;
      margin-left: 1.25rem;
    }
  }
}
