@import '_global.scss';

.c-text__viz-notes {
  font-size: 12px;
  color: black;
  line-height: 1.2;
  background: url('./img/urban-line.svg') no-repeat bottom right;
  padding-bottom: 1rem;

  @include breakpoint($bp--large) {
    padding-bottom: 0;
    padding-right: 100px;
  }


  p {
    margin-bottom: 0.1rem;
  }
}
