@import '_global.scss';

.c-text__factoid {
  border-top: 1px solid $color--gray-4;
  border-bottom: 1px solid $color--gray-4;
  font: italic 400 14px/20px Georgia,serif;
  padding: 2rem 0 2rem 0;
  margin: 2rem 0;
}
