
@import '_global.scss';

.grid {
  // Sticky component tries to offset the sticky, but with our page layout, it pushes the main content down.
  > div > div {
    padding-bottom: 0 !important;
  }
  .sticky {
    @include breakpoint($bp--large) {
      margin-top: 55px;
      width: 300px !important;
  
      .breadcrumb {
        padding-top: 30px;
        display: block;
      }
    }

    .col--1-4 {
      padding-bottom: 0;
      @include breakpoint($bp--large) {
        width: 100%;
      }
    }
  }

  .col--1-4 {
    padding-bottom: 0;
    @include breakpoint($bp--large) {
      position: initial;
    }
  }
  
  .col--3-4 {
    @include breakpoint($bp--large) {
      float: right;
      min-height: 800px;
    }
  }
}

.sticky-nav {
  left: 0 !important;
  position: absolute;
  width: 100% !important;
  z-index: 9;
  @include breakpoint($bp--large) {
    left: initial !important;
    height: auto;
    position: initial;
    width: auto;
  }
}

.nav-anchor {
  h2.active__section {
    color: #000;
    background-color: $color--gray-1;
    border: 1px solid $color--gray-4;
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 5px 62px 7px 15px;
    position: relative;
    @include breakpoint($bp--mid) {
      padding: 5px 77px 7px 20px;
    }
    @include breakpoint($bp--large) {
      display: none;
    }
    .fa {
      border-left: 1px solid $color--gray-4;
      color: #000;
      cursor: pointer;
      line-height: 42px;
      height: 110px;
      right: 0;
      padding: 0 15px;
      position: absolute;
      top: 0;
      width: 47px;
      z-index: 1;
      @include breakpoint($bp--mid) {
        width: 57px;
        padding: 0 20px;
      }
      @include breakpoint($bp--large) {
        display: none;
      }
    }
  }
  @include breakpoint($bp--large) {
    margin: 1rem 0 0 0;
    position: initial;
  }

  ul {
    background-color: #fff;
    border-bottom: 1px solid $color--gray-4;
    list-style-type: none;
    display: none;
    &.open {
      display: block;
    }
    @include breakpoint($bp--large) {
      display: block;
    }
    
    &.nav-anchor__top-level {
      > li:first-child {
        border-top: none;
      }
    }
      
    &.nav-anchor__second-level {
      border: none;
      margin-bottom: 0;
      @include breakpoint($bp--large) {
        display: none;
        &.open {
          display: block;
        }
      }
    
      li {
        margin-left: 1rem;
      }
    
      a {
        padding: .75rem 45px .75rem 15px;
        font-size: 14px;
        line-height: 1.25;
        @include breakpoint($bp--mid) {
          padding-left: 20px;
        }
        @include breakpoint($bp--large) {
          font-size: 14px;
          padding-left: 1rem;
        }
      }
    }
  }

  li {
    list-style-type: none;
    margin: 0;
    border-top: 1px solid $color--gray-4;
    position: relative;

    .fa {
      border-left: 1px solid $color--gray-4;
      color: $color--gray-7;
      cursor: pointer;
      line-height: 53px;
      padding: 0 14px;
      position: absolute;
      right: 0;
      top: 0;
      width: 45px;
      z-index: 1;
      &:hover {
        background-color: $color--gray-1;
      }
      @include breakpoint($bp--large) {
        line-height: 49px;
      }
    }
  }

  a {
    padding: .75rem 0 .75rem 15px;
    display: block;
    color: $color--blue;
    font-size: 17px;
    font-weight: normal;
    @include breakpoint($bp--mid) {
      padding-left: 20px;
    }
    @include breakpoint($bp--large) {
      font-size: 18px;
      line-height: 25px;
      padding-left: .75rem;
    }

    &:hover,
    &.active {
      background-color: $color--gray-1;
      color: $color--gray-7;
      text-decoration: none;
    }
  }
}

