.c-bar {
  margin-bottom: 2rem;

  .c-bar__container {
    div {
      font: 10px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }
  }
}
